@charset "utf-8";

.box {width:100px;}
#skill{ 	width:100%; height:300px; 	background-color:#fff;}
.second {position:relative; width:400px;text-align:center;}
.second > strong {position:absolute; top:50%; left:50%;
                  transform:translate(-50%,-50%); font-size:3rem;}
.animated {    animation-duration: 2s;  animation-fill-mode: both;  }                  
.fadeIn{   animation-name: fadeIn;}  
@keyframes fadeIn {
    0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
  }      
.wp2{visibility:hidden;} 
.fadeIn{visibility:visible;}